{{> head}}
{{> navbar}}

<div class='row'>
  <div class="col-8">
    <h1>Casa campestre</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque exercitationem itaque quae assumenda dolores
      accusamus quam molestiae. Ea optio quo id, sit ipsum qui odio eligendi, voluptates voluptas sed unde.
    </p>
  </div>
  <div class="col-4">
    <img src="assets/img/house.jpg" alt="House" class="img-thumbnail">
  </div>
</div>

{{> footer}}
